body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
}
.paperWrap {
    background-color: #eaeaea;
}
.card {
    color: #e3e3e3;
    border: transparent;
    padding-bottom: 20px;
}
.spacer {
    margin-bottom: 30px;
}
.spacerBottom {
  margin-bottom: 30px;
}
.spacer {
    margin-top: 30px;
}
.spacerRight {
    margin-right: 10px;
}
.alignSpadea {
align-items: flex-end;
    bottom: 0;
}

a {
  color:rgb(38, 88, 88);
}

.navbar-brand {
  font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    color: #29bbff;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    margin: 0%;
    padding: 0%;
    background-color: #111416;
    z-index: 10;
  }
.MenuBar {
    background-color: #111416;
}


.btn {
border-radius: 0%;
color: #29bbff;
border-style: hidden;
}
.btn:hover {
  color: #29bbff;
}

.intro {
    position: relative;
    margin: 0;
}
.introText {
    color: white;
    margin-top: 150px;
    position: absolute;
}
h1 {
    font-family: lust-display, serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 100;
    color: #29bbff;
    font-size: clamp(2.5rem, 5.5vw, 7rem); 
}
strong {
  font-family: "articulat-cf", sans-serif;
    font-weight: 900;
}
.button {
    background-color: #626262;
    color: white;
    border-radius: 0%;
    width: 100px;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button:hover {
    background-color: #3f545f;
    width: 200px;
  }

  .myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size:18px;
	padding:9px 40px 9px 19px;
	text-decoration:none;
    margin-top: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .myButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .myButton:hover span {
    padding-right: 25px;
  }
  
  .myButton:hover span:after {
    opacity: 1;
    right: 0;
  }


  .myButton22 {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    font-size:18px;
    padding:9px 40px 9px 19px;
    width: 100%;
    text-decoration:none;
      margin-top: 20px;
  }




  dim {
    opacity: 30%;
  }
  h2 {
    font-family: "articulat-cf", sans-serif;
    font-weight: 100;
    color: #626262;
    font-size: clamp(2.0rem, 4.5vw, 6rem); 
    margin-top: 50px;
    margin-bottom: 20px;
}
h3 {
  font-family: "articulat-cf", sans-serif;
    font-weight: 800;
    color: #626262;
    font-size: 1.7em; 
    margin-top: 20px;
}
h4 {
  font-family: "articulat-cf", sans-serif;
    font-weight: 300;
    opacity: 70%;
    font-size: 1.4em; 
    margin-top: 20px;
}



h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #626262;
    font-size: 1em;
    margin-top: 20px;
    width: 50%;
}
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  footer {
    padding-top: 100px;
	background-color:#111416;
    color: #29bbff;
    padding-bottom: 50px;
  }
  h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 21px;
    color: #29bbff;

  }
  h7 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #29bbff;
    text-transform: uppercase;

  }
  p1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
  }
  .text-dim {
    color: white;
    opacity: 80%;
    font-size: 18px;
  }
  html {
    background-color:#0688fa;
  }
  .card-body {
    margin: 0%;
    padding: 0%;
    padding-top: 20px;
  }
  .card-text {
    margin: 0%;
    padding: 0%;
  }

label {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    color: #29bbff;
    font-size: 16px;
    text-transform: uppercase;
}
.pageBack {
    background-color: #212529;
}

.coverShot {
    object-fit: cover;
    aspect-ratio: 1.8 / 1;
    object-position: left bottom;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .coverShot {
        object-fit: cover;
        aspect-ratio: auto;
        height: 500px;
        object-position: 0 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* For mobile phones: */
    .coverShot {
        object-fit: cover;
        aspect-ratio: 3 / 1;
        object-position: 50% 70%;
    }
  }
  .imgPopup .str-ModalBack {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	cursor: pointer;
}

.imgPopupItem {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, -50%);
} 

img[data-pop-img] {
	cursor: pointer;
}

